/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

font-family: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
}

body {
  margin: 8px;
  font-family: 'Open Sans';
}

article, section {
  color: #000;
  width: 80%;
  margin-left: auto ;
  margin-right: auto ;
  background-color: rgba(234, 234, 234, 0.9);
  border-radius: 4px;
  min-height: 800px;
}

article h1, section h1 {
  color: #00aecd;
  font-size: 2.4em;
  font-variant: small-caps;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

article p, section p {
  padding: 10px;
  white-space: pre-line;
}

.articleform {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.articleform label {
  display: block;
}

.articleform fieldset legend {
  width: 100%;
  font-variant: small-caps;
  border-bottom: 1px solid rgba(234, 234, 234, 0.9);
  margin-bottom: 6px;
}

.articleform textarea {
  width: 100%;
}

.articleform input {
  width: 60%;
}

.articlelist {
}

.articlenew ul.sets li {
  display: inline;
}

.commentlist {
  width: 60%;
  min-height: 0;
  border: 1px solid #ddd;
  padding: 10px;
}

.commentlist .count {
  border-bottom: 2px dotted #ddd;
  margin-bottom: 4px;
}

.commentlist .name {
  display: block;
  border: 1px solid #aaa;
}

.commentlist .comment {
  display: block;
  padding-left: 10px;
}

#comment_form input, #comment_form textarea {
  border: 4px solid rgba(0,0,0,0.1);
  padding: 8px 10px;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  outline: 0;
}

#comment_form textarea {
  width: 350px;
}

#comment_form input[type="submit"] {
  cursor: pointer;
  background: -webkit-linear-gradient(top, #efefef, #ddd);
  background: -moz-linear-gradient(top, #efefef, #ddd);
  background: -ms-linear-gradient(top, #efefef, #ddd);
  background: -o-linear-gradient(top, #efefef, #ddd);
  background: linear-gradient(top, #efefef, #ddd);
  color: #333;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  border: 1px solid #ccc;
}

#comment_form input[type="submit"]:hover {
  background: -webkit-linear-gradient(top, #eee, #ccc);
  background: -moz-linear-gradient(top, #eee, #ccc);
  background: -ms-linear-gradient(top, #eee, #ccc);
  background: -o-linear-gradient(top, #eee, #ccc);
  background: linear-gradient(top, #eee, #ccc);
  border: 1px solid #bbb;
}

#comment_form input[type="submit"]:active {
  background: -webkit-linear-gradient(top, #ddd, #aaa);
  background: -moz-linear-gradient(top, #ddd, #aaa);
  background: -ms-linear-gradient(top, #ddd, #aaa);
  background: -o-linear-gradient(top, #ddd, #aaa);
  background: linear-gradient(top, #ddd, #aaa);  
  border: 1px solid #999;
}

#comment_form div {
  margin-bottom: 8px;
}

/* Reclaim a little space on smaller screen */
@media (min-width: 640px) and (max-width: 700px) {
  article {
    width: 100%;
  }
  article h1 {
    color: #000;
  }
}

/* Reset space consumption on a small screen */
@media (max-width: 640px) {
  body {
    margin: 0;
  }
  article {
    border-radius: 0;
    width: 100%;
  }
  article h1 {
    padding: 4px;
    color: #000;
  }
  article p {
    padding: 4px;
  }
}
